<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with LLM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="chat-container">
        <div id="chat-box" class="chat-box">
            {% for entry in chat_history %}
                <div class="message user">
                    <strong>Вы:</strong> {{ entry.user_message }}
                    <button class="copy-btn" data-text="{{ entry.user_message }}">📋</button>
                </div>
                <div class="message llm">
                    <strong>AI:</strong> {{ entry.llm_reply }}
                    <button class="copy-btn" data-text="{{ entry.llm_reply }}">📋</button>
                </div>
            {% endfor %}

        </div>
        <div class="chat-input-wrapper"> <!-- Новая обёртка коммит 3-->
            <form id="chat-form" autocomplete="off">
                <textarea id="user-input" placeholder="Type your message..." required></textarea>
            </form><br/>
            <button id="submit-btn" type="submit" form="chat-form">Отправить</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>